<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shylock.test">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 开机启动权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity">
            <intent-filter>
                //
                <action android:name="com.shylock.action.MY_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Main3Activity">
            <intent-filter>
                <action android:name="Intent.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.baidu.com"
                    android:mimeType="text/html"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".Main4Activity">
            <intent-filter>
                <action android:name="com.shylock.action.MY_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.shylock.category.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".Main5Activity" />
        <activity android:name=".Main6Activity" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        //process增加进程
        <service
            android:name=".MyIntentService"
            android:exported="false" />
        <service
            android:name=".MyBoundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Main7Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyReceiver1"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.shylock.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <!-- <receiver -->
        <!-- android:name=".MyReceiver2" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"></receiver> -->
        <receiver
            android:name=".MyReceiver3"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.shylock.MY_BROADCAST3" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MyReceiver4"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="200">
                <action android:name="com.shylock.MY_BROADCAST3" />
            </intent-filter>
        </receiver>

        <activity android:name=".Main8Activity" />

        <receiver
            android:name=".MyReceiver5"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".MyReceiver6"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- 开机启动 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MyReceiver7"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.connn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MyReceiver8"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".bug"
            android:label="@string/title_activity_bug"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
